<main class="container mx-auto mt-16 px-5 grid grid-cols-1 md:grid-cols-4 gap-4">
  <%# hero section %>
  <div class="col-span-1 md:col-span-4 text-center relative">
    <h1 class="text-5xl px-4 py-4 absolute text-brand-primary">SmartFruit</h1>
    <div class="w-full h-[200px] md:h-[300px] lg:h-[400px] overflow-hidden rounded-xl">
      <%= image_tag "harvest_hero.jpg",
        class: "w-full h-full object-cover",
        alt: "Harvest hero" %>
    <%# TODO: add search by name %>
    </div>
  </div>

  <div class="text-3xl col-span-1 md:col-span-4 text-center mb-4">
    Find your perfect fruit today!
  </div>

  <div class="col-span-1 md:col-span-2 text-center">
        <div class="mx-auto w-[50%] h-[100px] md:h-[200px] lg:h-[300px] overflow-hidden rounded-xl">
          <%= image_tag "labcoat.jpg",
            class: "w-full h-full object-cover",
            alt: "Person in labcoat" %>
        </div>
  </div>

  <div class="col-span-1 md:col-span-2">
    <p class="text-3xl">Benefits of Fruit</p>
    <ul class="list-disc">
      <li>Delicious</li>
      <li>Colorful</li>
      <li>In season (sometimes)</li>
    </ul>
  </div>

<section>
  Harvest Photo by <a href="https://unsplash.com/@spacedezert?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">SPACEDEZERT</a> on <a href="https://unsplash.com/photos/a-variety-of-fruits-and-vegetables-on-a-wooden-tray-FpW77sOxOYc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>      
  Labcoat Photo by <a href="https://unsplash.com/@usmanyousaf?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Usman Yousaf</a> on <a href="https://unsplash.com/photos/man-in-white-dress-shirt-wearing-black-framed-eyeglasses-pTrhfmj2jDA?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
</section>
</main>